/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html,
body {
  background-color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
time {
  color: white;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}
